<div class="side-bar-header">
  <div class="header-name">
    <%# Tomを押すとユーザー情報ページに飛ばしたいのでa hrefを使用 %>
    <a href="#">Tom</a>
  </div>
  <div class="create-room">
    <%# チャットを作成するを押すとチャットルーム作成ページに飛ばしたいのでa hrefを使用 %>
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a hreh="#">techroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a hreh="#">techroom</a>
    </div>
  </div>
</div>