<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
    <%# renderメソッドとはレスポンスの出力をしてくれる & _と拡張子除いた形で呼び出す%>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
    <%# _と拡張子除いた形で呼び出す %>
  </div>
</div>
